---
layout: category-en.njk
title: The Breed
description: History, origins, temperament and breed standard of the Alaskan Malamute. Everything you need to know about this extraordinary Nordic working dog.
permalink: /en/breed/
catIcon: "🐺"
pagination:
  data: collections.en_breed
  size: 100
  alias: posts
---
