---
permalink: /index.html
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=/it/">
  <title>It's A Malamute</title>
</head>
<body>
  <p>Redirecting... / Reindirizzamento in corso...</p>
  <p><a href="/it/">Italiano</a> | <a href="/en/">English</a></p>
</body>
</html>
