---
layout: category-it.njk
title: La Razza
description: Storia, origini, carattere e standard dell'Alaskan Malamute. Tutto quello che devi sapere su questa razza nordica straordinaria.
permalink: /it/la-razza/
catIcon: "🐺"
pagination:
  data: collections.it_razza
  size: 100
  alias: posts
---
